.App {
  display: flex;
  margin: 41px;
  min-height: calc(100vh - 80px);
}

.people-list {
  flex-basis: 1;
}

.stage  {
  display: flex;
  flex-basis: 4;
  width: 75%;
  background: rgb(73, 73, 87);;
}
