.Stage {
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	background-color: rgb(73, 73, 87);
	width: 100%;
}

.Tile h2 {
	background-color: rgb(48, 46, 46);
	font-size: 16px;
	color: white;
	padding: 24px;
	margin: -4px 0 auto;
	border-radius: 4px;
}
