.stage-people {
    width: 50%;
    flex-basis: 1;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.person {
    background: rgba(41, 42, 59, 0.753);
    padding:10px;
}

.volume-bar {
    margin: 0 auto;
    width: 50%;
    height: 1px;
    background-color: rgb(255, 18, 50);
    text-align: center;
    position: relative;
}

.volume {
    margin: 5px;
    color: rgb(255, 18, 50);
}

.search {
    margin: 5px;
    color: white;
}

.avatar {
    width: 50%;
    height: auto;
    margin-top: 50%;
}
